{% extends 'base.html'%}

{% block title %} Login {% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    
    
    <h1>Change password</h1>
    <br/>
    
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Change password</button>
            <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Back</a>
            
            
        <ul>
            <br>
            <li>Your password can't be too similar to your other personal information</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
        </form>
    </div>
    

    {% endblock content %}
</body>
</html>