{% extends 'base.html'%} {% block title %} Create a new comment! {% endblock title %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add comment</title>
  </head>
  <body>
    <h1>Add comment</h1>
    <br />

    <div class="form-group">
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn btn-dark">Add comment</button>
      </form>
    </div>

    {% endblock content %}
  </body>
</html>
