{% extends 'base.html' %}
{% load static %}

{% block title %}Post - {{ post.title }}{% endblock title %}

{% block content %}
  <h1>{{ post.title }} - {{ post.author.id }}</h1>
  <small>
    By: {{ post.author.first_name }} {{ post.author.last_name }}
    {% if user.id == post.author.id %}
      {% if user.is_authenticated %}
        <a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
        <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small><br/>
      {% endif %}
    {% endif %}
  </small>

  <small>{{ post.post_date }}</small>
  <hr/>

  {% if post.header_image %}
    <img src="{{ post.header_image.url }}" />
  {% endif %}

  <p>{{ post.body|safe }}</p>
  <br/>

  <form action="{% url 'like_post' post.pk %}" method="post">
    <br />
    {% csrf_token %}
    {% if user.is_authenticated %}
      {% if liked %}
        <button type="submit" class="btn btn-danger btn-sm">Unlike</button> - {{ total_likes }} likes
      {% else %}
        <button type="submit" class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} likes
      {% endif %}
    {% else %}
      <small><a href="{% url 'login' %}">Login</a> to like - {{ total_likes }} likes</small>
    {% endif %}
    <br><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary rounded-pill">Back</a>
    <hr />
  </form>

  <h3>Comments</h3>

  {% if not post.comments.all %}
    No comments yet...
  {% else %}
    <div id="comment-list">
      {% for comment in post.comments.all %}
        <div class="comment">
          <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
          <p>{{ comment.body }}</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <h3>Add a Comment</h3>
  <form method="POST" id="comment-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Add Comment</button>
  </form>

  <script>
    document.getElementById('comment-form').onsubmit = function(event) {
      event.preventDefault();
      var form = event.target;
      var formData = new FormData(form);

      fetch("{% url 'article-detail' pk=post.pk %}", {
        method: "POST",
        body: formData,
        headers: {
          "X-Requested-With": "XMLHttpRequest"
        },
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          var commentSection = document.getElementById('comment-list');
          var newComment = document.createElement("div");
          newComment.classList.add("comment");
          newComment.innerHTML = `<strong>${data.comment.name} - ${data.comment.date_added}</strong><p>${data.comment.body}</p>`;
          commentSection.appendChild(newComment);
          form.reset();
        }
      });
    };
  </script>

{% endblock content %}
